*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
body{
    background: #164c82;
}

.section-head{
    text-align: center;
    margin-bottom: 20px;
}
/* NAVBAR SECTION */
.poster{
    display: flex;
    justify-content: space-between;
}
.post{
    background: url('img/red.png') no-repeat center center/cover;
    color: #fff;
    padding: 10px;
}
.wrapper{
 
}
nav img {
    width: 12%;
    margin-right: 261px;
}
.touch{
    background: url('img/touch.png') no-repeat center center/cover;
    color: #fff;
    padding: 0 58px 0 58px;
    border: transparent;
    border-radius: 60px;
}
/* .n-bar{
    float: left;
} */
nav{
    position: absolute;
    /* background: #262626; */
    font-size: 16px;
    width: 100%;
    padding: 11px;
}
nav > ul{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}
nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li{
    color: #fff;
    list-style: none;
    transition: 0.5s;

}
/* ul img{
    width: 85%;
} */
nav > ul >li > a{
    padding: 15px 25px;
    color: #000;
}
nav ul>li.dropdown > a:after{
    position: relative;
    float: right;
    content: '';
    margin-left: 10px;
    margin-top: 8px;
}
nav>ul>li:hover{
    background: #668fc5;
}
nav ul li a:hover{
    color: #fff;
}
nav ul.menu-area{
    padding: 40px 40px 0 40px;
    background: #fff;
    text-align: left;
    border-top: 5px solid #164c82;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
    z-index: 1;
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 716px;
    top: -9999px;
    left: 0;
}
nav ul li:hover ul.menu-area{
    top: 100%;
}
nav ul.menu-area ul{
    width: 25%;
    margin-bottom: 40px;
    color: #262626;
}
nav ul.menu-area h4{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 19px;
}
nav ul.menu-area ul li{
    display: block;
}
nav ul.menu-area ul li a{
    margin-top: 10px;
    color: #000;
    text-transform: none;
}
nav ul.menu-area ul li a:hover{
    color: #164c82;
}

/* COVER SECTION */
section.cover {
    /* top: 59px; */
    position: relative;
    top: 75px;
}
ul.custom-slider.slick-initialized.slick-slider{
    max-width: 100%;
    /* border: 2px solid black; */
    display: block;
    margin: auto;
    padding: 0px;
    border-radius: 10px;
}
.slick-slide img {
    height: 450px;
    width: 100%;
}
.slick-prev {
    left: 72px!important;
    z-index: 99999999!important;
}
.slick-prev:before, .slick-next:before{
    color: #fff!important;
    font-size: 43px!important;
}

.slick-next{
    right: 72px!important;
    z-index: 99999999!important;
}
.custom-slider div{
    /* margin: 2px 2px;
    padding: 2px 2px; */
    /* height: 200px; */
}
.custom-slider li{
    list-style-type: none;
}
.custom-slider h2{
    text-align: center;
}
.custom-slider p{
    text-align: center;
}
.slider-content {
    position: relative;
    top: 0px;
}
.slide-content {
    position: absolute;
    bottom: 4px;
    background: #000;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* SOLUTIONS SECTION */
section.solutions {
    position: relative;
    top: 75px;
}
.sol-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    width: 24%!important;
    margin-bottom: 20px!important;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.card:hover{
    transform: scale(1.09);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* SAICOM PARIVAR SECTION */
.box-sai{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1rem;
}
.item{
    background: red;
}
section.sai-parivar {
    position: relative;
    top: 52px;
    background-color: #e5e5e5;
    /* border: 1px solid #000; */
}
.item.item1 {
    height: 323px;
}
.item.item2 {
    height: 229px;
}
.item.item3 {
    height: 229px;
}
.item.item4 {
    height: 323px;
    position: relative;
    top: -94px;
}
.item.item1 img, .item.item2 img, .item.item3 img,.item.item4 img {
    width: 100%;
    height: 100%;
}
button.touch.parivar-btn {
    /* padding: 29px; */
    padding-top: 16px;
    background: -webkit-linear-gradient(left, #d1651a 0%, #c1282a 50%, #d1651a 100%) !important;
    padding-bottom: 16px;
    display: block;
    margin: auto;
    position: relative;
    top: -54px;
}

/* OUR CLIENT SECTION */
section.our-client {
    position: relative;
    top: 55px;
}
.grid_1_of_5 {
    padding: 0px;
    margin: 28px;
}

/* FOOTER SECTION */
footer{
    background: url('img/red.png') no-repeat center center/cover;
    color: #fff;
}
.footer {
    padding: 35px 0 0 0;
}
.footer2 {
    padding: 20px;
}
.fa-ic {
    font-size: 40px!important;
    padding-right: 46px!important;
}
hr{
    color: #000;
}
.foot1{
    display: flex;
    justify-content: space-between;
}
.foot2{
    display: flex;
    justify-content: space-between;
}
.fo-con1 {
    width: 28%;
}
.fo-con1 h1{
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}
.whats {
    position: fixed;
    right: 46px;
    bottom: 123px;
    font-size: 47px;
    /* z-index: 2; */
}
.whats i {
    background: #28D146;
    border-radius: 100%;
    padding: 9px;
}
/* .footer {
    display: grid;
    grid-template-columns: repeat(3,auto);
}
footer{
    position: relative;
    color: #fff;
    background: #1E82B6;;
    padding: 20px 0 20px 0;
} */
/* footer h2{
    color: #fff!important;
}
.footer-content h2{
    font-size: 16px;
}
.footer-content p{
    font-size: 11px;
}
.footer-content p a{
    color: #fff;
}
.l-footer a{
    color: #65ac4b;
} */

